/*======================================
  #General
======================================*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
/*======================================
  #Typography
======================================*/
html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
@media only screen and (max-width: 992px) {
  html {
    font-size: 0.95em;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 0.9em;
  }
}
body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1rem;
}
p,
ul,
ol {
  margin-bottom: 1.5em;
}
.text-big {
  font-weight: 300;
  font-size: 1.25rem;
}
.text-small {
  font-size: 0.75rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.act-heading {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 0.5em;
}
h1.pre-head,
h2.pre-head,
h3.pre-head,
h4.pre-head,
h5.pre-head,
h6.pre-head,
.h1.pre-head,
.h2.pre-head,
.h3.pre-head,
.h4.pre-head,
.h5.pre-head,
.h6.pre-head,
.act-heading.pre-head {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.4em;
  line-height: 1;
  margin-bottom: 0.9em;
  opacity: 0.8;
}
h1.section-head,
h2.section-head,
h3.section-head,
h4.section-head,
h5.section-head,
h6.section-head,
.h1.section-head,
.h2.section-head,
.h3.section-head,
.h4.section-head,
.h5.section-head,
.h6.section-head,
.act-heading.section-head {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.65rem;
  letter-spacing: 0.2em;
  line-height: 1;
  margin-bottom: 1em;
}
h1,
.h1 {
  font-size: 2.5rem;
}
h2,
.h2 {
  font-size: 2.25rem;
}
h3,
.h3 {
  font-size: 1.75rem;
}
h4,
.h4 {
  font-size: 1.5rem;
}
h5,
.h5 {
  font-size: 1.2rem;
}
h6,
.h6 {
  font-size: 1rem;
}
small {
  font-size: 80%;
}
mark {
  background: #fcf8e3;
  padding: 0 0.3em;
}
abbr {
  border-bottom: 2px dotted #555;
  text-decoration: none;
  cursor: help;
}
kbd {
  background: #111;
  color: white;
  border-radius: 3px;
  padding: 2px 4px;
  font-size: 80%;
}
a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: bold;
}
hr {
  border: none;
  height: 1px;
  background: #e6e6e6;
  margin: 2em 0;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
blockquote {
  font-style: normal;
  font-size: 1.125rem;
  position: relative;
  font-weight: 300;
  max-width: 32.5em;
  margin: 4.4em auto 4em;
  text-align: center;
}
blockquote::before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f10d";
  top: -1.5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 1.5rem;
  line-height: 1;
}
blockquote cite {
  display: block;
  font-size: 80%;
}
ul,
ol {
  padding-left: 20px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
/*======================================
  #Format image classes
======================================*/
.image-left {
  float: left;
  margin: 0 0.6em 0.6em 0;
}
.image-right {
  float: right;
  margin: 0 0 0.6em 0.6em;
}
.image-left,
.image-right {
  display: block;
}
@media only screen and (max-width: 768px) {
  .image-left,
  .image-right {
    float: none;
  }
}
figcaption {
  color: #666;
  text-align: center;
  font-style: italic;
  font-size: 0.875rem;
  padding-top: 5px;
}
img[data-sizes="auto"] {
  display: block;
  width: 100%;
}
.lazyload,
.lazyloading {
  opacity: 0;
  width: 100%;
}
.lazyloaded {
  opacity: 1;
  -webkit-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
/*======================================
  #Tables
======================================*/
.table-wrap {
  min-height: 0.01%;
  overflow-x: auto;
}
table {
  width: 100%;
  max-width: 100%;
  font-size: 1rem;
}
table th,
table td {
  padding: 0.75em;
}
table th {
  font-weight: bold;
  text-align: left;
}
table thead tr {
  border-bottom: 2px solid #e6e6e6;
}
table tbody tr {
  border-top: 1px solid #e6e6e6;
}
table tbody tr:first-child {
  border-top: 0;
}
table tbody tr:hover {
  background: rgba(0, 0, 0, 0.04);
}
/*======================================
  #Loader
======================================*/
.loading {
  position: relative;
  z-index: 1;
}
.loading::before {
  content: "";
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99998;
}
.loading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  z-index: 99999;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 0.2rem solid rgba(0, 0, 0, 0.15);
  border-top-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: spin 0.5s infinite linear;
  animation: spin 0.5s infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*======================================
  #Success animation
======================================*/
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #2ecc71;
  fill: none;
  -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark-svg {
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 1.5em auto;
  -webkit-box-shadow: inset 0px 0px 0px #2ecc71;
  box-shadow: inset 0px 0px 0px #2ecc71;
  -webkit-animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}
.checkmark__check {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes scale {
  0%,
  100% {
    -webkit-transform: none;
    transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes scale {
  0%,
  100% {
    -webkit-transform: none;
    transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}
@-webkit-keyframes fill {
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 50px #2ecc71;
    box-shadow: inset 0px 0px 0px 50px #2ecc71;
  }
}
@keyframes fill {
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 50px #2ecc71;
    box-shadow: inset 0px 0px 0px 50px #2ecc71;
  }
}
/*======================================
  #Skip link
======================================*/
.skip-link {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1rem;
  padding: 0.8em 1.5em;
  font-weight: bold;
  z-index: 999999999;
  border-radius: 4px;
  color: white;
}
.skip-link:hover {
  color: white;
}
.skip-link:not(:focus) {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}
/*======================================
  #Helpers
======================================*/
.fr {
  float: right;
}
.fl {
  float: left;
}
.cb {
  clear: both;
}
.nm {
  margin: 0 !important;
}
.np {
  padding: 0 !important;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.thin {
  font-weight: 300;
}
.bold {
  font-weight: 700;
}
.bolder {
  font-weight: 900;
}
.responsive-img {
  width: auto!important;
  height: auto!important;
  max-width: 100%!important;
  max-height: 100%!important;
}
.hidden {
  visability: hidden;
  opacity: 0;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.hide {
  display: none;
}
.hide--important {
  display: none !important;
}
.show--s {
  display: none!important;
}
.show--m {
  display: none!important;
}
.show--xs {
  display: none!important;
}
@media only screen and (max-width: 992px) {
  .hide--m {
    display: none !important;
  }
  .show--m {
    display: block !important;
  }
}
@media only screen and (max-width: 768px) {
  .hide--s {
    display: none !important;
  }
  .show--s {
    display: block !important;
  }
}
@media only screen and (max-width: 480px) {
  .hide--xs {
    display: none !important;
  }
  .show--xs {
    display: block !important;
  }
}
/*======================================
  #General
======================================*/
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
input {
  line-height: normal;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea {
  -webkit-appearance: none;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  padding: 0;
  line-height: inherit;
  cursor: pointer;
}
/*======================================
  #Forms
======================================*/
form label,
.form-label {
  margin-bottom: 0.8em;
  line-height: 1;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  display: block;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
textarea,
select {
  display: block;
  padding: 1em;
  color: #444;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  border: 0;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  margin-bottom: 2em;
  font-weight: normal;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
  outline: none;
}
input[type="text"]:required:valid,
input[type="email"]:required:valid,
input[type="url"]:required:valid,
input[type="tel"]:required:valid,
input[type="password"]:required:valid,
input[type="search"]:required:valid,
input[type="number"]:required:valid,
input[type="date"]:required:valid,
textarea:required:valid,
select:required:valid {
  position: relative;
  border-color: rgba(46, 204, 113, 0.05);
  -webkit-box-shadow: 0 0 1px 1px #2ecc71 !important;
  box-shadow: 0 0 1px 1px #2ecc71 !important;
  background-color: white;
}
input[type="text"]:required:valid + i,
input[type="email"]:required:valid + i,
input[type="url"]:required:valid + i,
input[type="tel"]:required:valid + i,
input[type="password"]:required:valid + i,
input[type="search"]:required:valid + i,
input[type="number"]:required:valid + i,
input[type="date"]:required:valid + i,
textarea:required:valid + i,
select:required:valid + i {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1) translateY(-50%);
  -ms-transform: scale(1) translateY(-50%);
  transform: scale(1) translateY(-50%);
}
input[type="text"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="tel"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="number"][disabled],
input[type="date"][disabled],
textarea[disabled],
select[disabled] {
  cursor: not-allowed;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  font-style: italic;
}
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  font-style: italic;
}
input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="url"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
input[type="search"]::-ms-input-placeholder,
input[type="number"]::-ms-input-placeholder,
input[type="date"]::-ms-input-placeholder,
textarea::-ms-input-placeholder,
select::-ms-input-placeholder {
  font-style: italic;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
input[type="tel"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder,
input[type="number"]::placeholder,
input[type="date"]::placeholder,
textarea::placeholder,
select::placeholder {
  font-style: italic;
}
@media only screen and (max-width: 768px) {
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="tel"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  input[type="date"],
  textarea,
  select {
    margin-bottom: 1.25em;
  }
}
.form-validate-wrap {
  position: relative;
}
.form-validate-wrap > i {
  position: absolute;
  top: 50%;
  right: 10px;
  color: #2ecc71;
  font-size: 1.2em;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0) translateY(-50%);
  -ms-transform: scale(0) translateY(-50%);
  transform: scale(0) translateY(-50%);
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
select {
  line-height: 1;
  height: 3.3125em;
  padding: 1em;
}
textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
/*======================================
  #Umbraco forms
======================================*/
.success-color {
  color: #2ecc71 !important;
}
legend {
  padding: 0.85em 1em;
  line-height: 1;
  background: rgba(0, 0, 0, 0.025);
  font-weight: bold;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}
legend.legend-dark {
  background: rgba(0, 0, 0, 0.05);
  color: #444;
}
.radiobuttonlist,
.multiplechoice,
.fileupload {
  margin-bottom: 2em;
  display: block;
}
.contourPage .checkbox {
  position: relative;
  padding-left: 26px;
  margin-bottom: 2em;
}
.contourPage .checkbox .checkbox-single {
  position: absolute;
  top: -6px;
  left: 6px;
}
#recaptcha_area {
  margin-bottom: 2em;
}
#recaptcha_area table {
  border: 0 !important;
}
.radio-list-item,
.checkbox-list-item {
  position: relative;
  padding: 10px 10px 10px 30px;
  margin-bottom: 2px;
}
.radio-list-item label,
.checkbox-list-item label {
  text-transform: none;
}
.radio-list-item input,
.checkbox-list-item input {
  position: absolute;
  left: 7px;
  top: 8px;
}
.radio-list-item label,
.checkbox-list-item label {
  margin: 0;
  font-size: 0.8rem;
  padding: 0;
  text-transform: none;
}
.umbraco-forms-field.checkbox {
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 2em;
}
.umbraco-forms-field.checkbox label {
  font-size: 0.8rem;
  text-transform: none;
  letter-spacing: 0;
}
.umbraco-forms-field.checkbox .umbraco-forms-field-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 768px) {
  .umbraco-forms-field.checkbox {
    margin-bottom: 20px;
  }
}
.help-block {
  font-size: 0.75rem;
  display: block;
  color: #666;
  padding: 0 0 5px 0;
  margin-top: -0.7em;
}
.field-validation-error {
  display: block;
  color: #e74c3c;
  font-weight: bold;
  font-size: 0.75rem;
  margin-top: -2em;
  margin-bottom: 2em;
}
@media only screen and (max-width: 768px) {
  .field-validation-error {
    margin-top: -1.25em;
    margin-bottom: 1.25em;
  }
}
.umbraco-forms-indicator,
.validation-summary-errors,
.error-color {
  color: #e74c3c;
}
/*======================================
  #Buttons
======================================*/
.button,
input[type="submit"],
input[type="button"] {
  display: inline-block;
  -webkit-appearance: none;
  line-height: 1;
  padding: 1em 2em;
  letter-spacing: 0.04em;
  font-size: 0.9rem;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-width: thin;
  border-style: solid;
  text-align: center;
  text-decoration: none!important;
}
.button.button--block,
input[type="submit"].button--block,
input[type="button"].button--block {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.button.button--small,
input[type="submit"].button--small,
input[type="button"].button--small {
  padding: 0.8em 1em;
  font-size: 0.8rem;
}
.button.button--big,
input[type="submit"].button--big,
input[type="button"].button--big {
  padding: 1.2em 2em;
  font-size: 1.2rem;
}
.button.button--dark,
input[type="submit"].button--dark,
input[type="button"].button--dark {
  color: white!important;
}
.button.button--dark:hover,
input[type="submit"].button--dark:hover,
input[type="button"].button--dark:hover {
  color: white!important;
}
.button.button--light,
input[type="submit"].button--light,
input[type="button"].button--light {
  background: #f1f1f1;
  border-color: #f1f1f1;
  color: #111 !important;
}
.button.button--light:hover,
input[type="submit"].button--light:hover,
input[type="button"].button--light:hover {
  background: #f9f9f9;
  border-color: #f9f9f9;
  color: #111 !important;
}
.button.button--border,
input[type="submit"].button--border,
input[type="button"].button--border {
  background: transparent;
}
.button.button--border:hover,
input[type="submit"].button--border:hover,
input[type="button"].button--border:hover {
  color: #fff !important;
}
.button.button--border.button--dark:hover,
input[type="submit"].button--border.button--dark:hover,
input[type="button"].button--border.button--dark:hover {
  color: #f1f1f1 !important;
}
.button.button--border.button--light,
input[type="submit"].button--border.button--light,
input[type="button"].button--border.button--light {
  color: #f1f1f1 !important;
}
.button.button--border.button--light:hover,
input[type="submit"].button--border.button--light:hover,
input[type="button"].button--border.button--light:hover {
  color: #111 !important;
  background: #f1f1f1;
  border-color: #f1f1f1;
}
.button[disabled],
input[type="submit"][disabled],
input[type="button"][disabled],
.button.button--disabled,
input[type="submit"].button--disabled,
input[type="button"].button--disabled {
  cursor: not-allowed;
  background: #e6e6e6 !important;
  border-color: #e6e6e6 !important;
  color: #666 !important;
}
.button[disabled]:hover,
input[type="submit"][disabled]:hover,
input[type="button"][disabled]:hover,
.button.button--disabled:hover,
input[type="submit"].button--disabled:hover,
input[type="button"].button--disabled:hover {
  background: #e6e6e6 !important;
  border-color: #e6e6e6 !important;
  color: #666 !important;
}
/*======================================
  #Checkbox
======================================*/
/* Customize the label (the container) */
.cb-wrap,
.rb-wrap {
  display: block;
  position: relative;
  padding-left: 1.2rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 16px;
  text-transform: none;
  letter-spacing: 0.08em;
  margin-bottom: 0.8em;
}
.cb-wrap p,
.rb-wrap p {
  margin-bottom: 0px;
}
/* Hide the browser's default checkbox */
.cb-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom checkbox */
.cb-wrap .checkmark {
  position: absolute;
  border-radius: 2px;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* cb-wrap mouse-over, add a grey background color */
.cb-wrap:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
/* Create the checkmark/indicator (hidden when not checked) */
.cb-wrap .checkmark:after {
  content: "";
  position: absolute;
}
/* Show the checkmark when checked */
.cb-wrap input:checked ~ .checkmark:after {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1) translateZ(0);
  transform: translate(-50%, -50%) scale(1) translateZ(0);
}
/* Style the checkmark/indicator */
.cb-wrap .checkmark:after {
  content: "\f00c";
  font-family: "FontAwesome";
  color: white;
  line-height: 1;
  font-size: 0.75rem;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0) translateZ(0);
  transform: translate(-50%, -50%) scale(0) translateZ(0);
  opacity: 0;
}
/*======================================
  #Radio Button
======================================*/
/* Hide the browser's default radio button */
.rb-wrap input {
  position: absolute;
  opacity: 0;
}
/* Create a custom radio button */
.rb-wrap .radiobtn {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* On mouse-over, add a grey background color */
.rb-wrap:hover input ~ .radiobtn {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
/* Create the indicator (the dot/circle - hidden when not checked) */
.rb-wrap .radiobtn:after {
  content: "";
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}
/* Show the indicator (dot/circle) when checked */
.rb-wrap input:checked ~ .radiobtn:after {
  display: block;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
/* Style the indicator (dot/circle) */
.rb-wrap .radiobtn:after {
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}
/*======================================
  #Grid Settings
======================================*/
/*======================================
  #Container
======================================*/
.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (max-width: 992px) {
  .container-fluid,
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .container-fluid,
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .container-fluid,
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container {
  max-width: 1300px;
}
.container--small {
  max-width: 1100px;
}
.container--big {
  max-width: 1700px;
}
.container--fluid {
  max-width: 100%;
}
/*======================================
  #Row
======================================*/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
}
@media only screen and (max-width: 992px) {
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
}
@media only screen and (max-width: 768px) {
  .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
}
@media only screen and (max-width: 480px) {
  .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
}
.row.row--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.row.row--right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.row.row--v-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.row.row--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.row.row--flat {
  margin-left: 0;
  margin-right: 0;
}
.row.row--flat > [class*='col-'],
.row.row--flat > .col {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (max-width: 768px) {
  .row.row--flat-s {
    margin-left: 0;
    margin-right: 0;
  }
  .row.row--flat-s > [class*='col-'],
  .row.row--flat-s > .col {
    padding-left: 0;
    padding-right: 0;
  }
}
.row.row--grow > [class*='col-'],
.row.row--grow > .col {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.row.row--no-wrap {
  -ms-flex-flow: nowrap;
  flex-flow: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.row.row--no-wrap > [class*='col-'] {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
@media only screen and (max-width: 992px) {
  .row.row--no-wrap-m {
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .row.row--no-wrap-m > [class*='col-'] {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  .row.row--no-wrap-s {
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .row.row--no-wrap-s > [class*='col-'] {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}
/*======================================
  #Cols
======================================*/
[class*='col-'],
.col {
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (max-width: 992px) {
  [class*='col-'],
  .col {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 768px) {
  [class*='col-'],
  .col {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media only screen and (max-width: 480px) {
  [class*='col-'],
  .col {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
[class*='col-'].col--v-center,
.col.col--v-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
[class*='col-'].col--grow,
.col.col--grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.col {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}
.col-10 {
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
  max-width: 10%;
}
.col-16 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.col-20 {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  max-width: 20%;
}
.col-25 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.col-30 {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  max-width: 30%;
}
.col-33 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.col-40 {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  max-width: 40%;
}
.col-50 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.col-60 {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  max-width: 60%;
}
.col-66 {
  -ms-flex-preferred-size: 66.66666666%;
  flex-basis: 66.66666666%;
  max-width: 66.66666666%;
}
.col-70 {
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  max-width: 70%;
}
.col-75 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}
.col-80 {
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
  max-width: 80%;
}
.col-90 {
  -ms-flex-preferred-size: 90%;
  flex-basis: 90%;
  max-width: 90%;
}
.col-100 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
@media only screen and (max-width: 1200px) {
  .col-l-10 {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    max-width: 10%;
  }
  .col-l-16 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-l-20 {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
  }
  .col-l-25 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-l-30 {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    max-width: 30%;
  }
  .col-l-33 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-l-40 {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .col-l-50 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-l-60 {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 60%;
  }
  .col-l-66 {
    -ms-flex-preferred-size: 66.66666666%;
    flex-basis: 66.66666666%;
    max-width: 66.66666666%;
  }
  .col-l-70 {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    max-width: 70%;
  }
  .col-l-75 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-l-80 {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    max-width: 80%;
  }
  .col-l-90 {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
    max-width: 90%;
  }
  .col-l-100 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .col-m-10 {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    max-width: 10%;
  }
  .col-m-16 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-m-20 {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
  }
  .col-m-25 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-m-30 {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    max-width: 30%;
  }
  .col-m-33 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-m-40 {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .col-m-50 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-m-60 {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 60%;
  }
  .col-m-66 {
    -ms-flex-preferred-size: 66.66666666%;
    flex-basis: 66.66666666%;
    max-width: 66.66666666%;
  }
  .col-m-70 {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    max-width: 70%;
  }
  .col-m-75 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-m-80 {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    max-width: 80%;
  }
  .col-m-90 {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
    max-width: 90%;
  }
  .col-m-100 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .col-s-10 {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    max-width: 10%;
  }
  .col-s-16 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-s-20 {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
  }
  .col-s-25 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-s-30 {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    max-width: 30%;
  }
  .col-s-33 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-s-40 {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .col-s-50 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-s-60 {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 60%;
  }
  .col-s-66 {
    -ms-flex-preferred-size: 66.66666666%;
    flex-basis: 66.66666666%;
    max-width: 66.66666666%;
  }
  .col-s-70 {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    max-width: 70%;
  }
  .col-s-75 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-s-80 {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    max-width: 80%;
  }
  .col-s-90 {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
    max-width: 90%;
  }
  .col-s-100 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .col-xs-10 {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    max-width: 10%;
  }
  .col-xs-16 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-xs-20 {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
  }
  .col-xs-25 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-xs-30 {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    max-width: 30%;
  }
  .col-xs-33 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-xs-40 {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .col-xs-50 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-xs-60 {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 60%;
  }
  .col-xs-66 {
    -ms-flex-preferred-size: 66.66666666%;
    flex-basis: 66.66666666%;
    max-width: 66.66666666%;
  }
  .col-xs-70 {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    max-width: 70%;
  }
  .col-xs-75 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-xs-80 {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    max-width: 80%;
  }
  .col-xs-90 {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
    max-width: 90%;
  }
  .col-xs-100 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
/*======================================
  #Fallback
======================================*/
.browser-explorer.browser-version-9 .row:before,
.browser-explorer.browser-version-8 .row:before,
.browser-explorer.browser-version-9 .row:after,
.browser-explorer.browser-version-8 .row:after {
  content: " ";
  display: table;
}
.browser-explorer.browser-version-9 .row:after,
.browser-explorer.browser-version-8 .row:after {
  clear: both;
}
.browser-explorer.browser-version-9 [class*='col-'],
.browser-explorer.browser-version-8 [class*='col-'],
.browser-explorer.browser-version-9 .col,
.browser-explorer.browser-version-8 .col {
  float: left;
}
