/*======================================
  #Header
======================================*/
.top {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  -webkit-transition: background 0.4s ease, -webkit-box-shadow 0.4s ease;
  transition: background 0.4s ease, -webkit-box-shadow 0.4s ease;
  -o-transition: background 0.4s ease, box-shadow 0.4s ease;
  transition: background 0.4s ease, box-shadow 0.4s ease;
  transition: background 0.4s ease, box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
}
.top .top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}
.top.top--light {
  background: #ffffff;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.top.top--light:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.top.top--full-width .top-inner {
  max-width: 100%;
}
.pre-top-visible .top {
  top: 30px;
}
@media only screen and (max-width: 992px) {
  .pre-top-visible .top {
    top: 0;
  }
}
.scroll .top {
  position: fixed;
  top: 0!important;
}
.scroll .top.top--light {
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}
.top.top--scroll-bg {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.top.top--scroll-bg:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.scroll .top.top--scroll-bg.top--light {
  background: white;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}
/*======================================
  #Logo
======================================*/
.logo-wrap {
  height: 100%;
}
.logo {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 5;
}
.logo img {
  height: 100%;
  display: block;
  max-width: 100%;
}
.top--dark .logo--on-light {
  display: none;
}
.top--dark .logo--on-dark {
  display: block;
}
.top--light .logo--on-light {
  display: block;
}
.top--light .logo--on-dark {
  display: none;
}
.top--scroll-light .logo--on-light {
  display: none;
}
.top--scroll-light .logo--on-dark {
  display: block;
}
.top--scroll-dark .logo--on-light {
  display: block;
}
.top--scroll-dark .logo--on-dark {
  display: none;
}
.scroll .top--light .logo--on-light {
  display: block;
}
.scroll .top--light .logo--on-dark {
  display: none;
}
.scroll .top--dark .logo--on-light {
  display: none;
}
.scroll .top--dark .logo--on-dark {
  display: block;
}
.browser-explorer.browser-version-9 .logo {
  position: absolute;
  top: 0;
  left: 0;
}
/*======================================
  #Main navigation
======================================*/
.main-nav li.mobile-contact,
.main-nav .expand {
  display: none;
}
@media only screen and (max-width: 992px) {
  .main-nav .expand {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.08);
  }
  .main-nav .expand i {
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  }
  .main-nav .expand.open i {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.main-nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav > ul > li {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.main-nav > ul > li > a {
  color: white;
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  white-space: nowrap;
}
.main-nav > ul > li > a > i.fa-chevron-down {
  font-size: 70%;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 3px;
}
.main-nav > ul > li.btn {
  padding: 0 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-nav > ul > li.btn > a {
  line-height: 1!important;
  padding: 0.8em 1.35em;
}
.main-nav > ul > li.btn:hover {
  background: transparent!important;
}
@media only screen and (max-width: 992px) {
  .main-nav > ul > li.btn {
    padding: 20px 20px 0;
    display: block;
    text-align: center;
  }
  .main-nav > ul > li.btn > a {
    display: inline-block;
  }
}
.main-nav > ul > li.lang > a {
  padding: 0;
}
.main-nav > ul > li.lang > a span {
  display: none;
}
.main-nav > ul > li.lang > a img {
  max-width: 1.2em;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.main-nav > ul > li.lang ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 2em;
  white-space: nowrap;
}
.main-nav > ul > li.lang ul li a img {
  max-width: 1.2em;
  margin-right: 4px;
}
@media only screen and (max-width: 992px) {
  .main-nav > ul > li.lang > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 15px 25px;
    width: auto !important;
    height: auto !important;
    line-height: 2em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .main-nav > ul > li.lang > a span {
    display: block;
  }
  .main-nav > ul > li.lang > a img {
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin-right: 4px;
  }
  .main-nav > ul > li.lang ul {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }
  .main-nav > ul > li.lang ul li {
    display: block;
    border-left: 1px solid rgba(255, 255, 255, 0.08);
  }
  .main-nav > ul > li.lang ul li a {
    white-space: normal;
    line-height: 1;
  }
}
.main-nav > ul > li ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #111;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.125s ease;
  -o-transition: all 0.125s ease;
  transition: all 0.125s ease;
}
.main-nav > ul > li ul.go-right {
  left: auto;
  right: 0;
}
.main-nav > ul > li ul li {
  display: block;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
}
.main-nav > ul > li ul li a {
  display: block;
  font-size: 0.875rem;
  color: white;
  padding: 0.9em 1.25em;
  font-weight: bold;
}
.main-nav > ul > li ul li a > i.fa-chevron-right {
  font-size: 70%;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.main-nav > ul > li ul li:hover {
  background: rgba(255, 255, 255, 0.03);
}
.main-nav > ul > li ul ul {
  top: 0;
  left: 100%;
}
.main-nav > ul > li ul ul.go-right {
  left: auto;
  right: 100%;
}
.main-nav > ul > li:hover,
.main-nav > ul > li.touch-open {
  background: rgba(255, 255, 255, 0.03);
}
.main-nav > ul > li:hover > ul,
.main-nav > ul > li.touch-open > ul {
  opacity: 1;
  visibility: visible;
}
.main-nav > ul > li:hover > ul li:hover > ul,
.main-nav > ul > li.touch-open > ul li:hover > ul,
.main-nav > ul > li:hover > ul li.touch-open > ul,
.main-nav > ul > li.touch-open > ul li.touch-open > ul {
  opacity: 1;
  visibility: visible;
}
@media only screen and (max-width: 992px) {
  .main-nav {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    top: 50px;
    background-color: #111;
    overflow-y: auto;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    visibility: hidden;
  }
  .main-nav li.mobile-contact {
    display: block;
    width: 50%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .main-nav li.mobile-contact a {
    text-align: center;
    padding: 15px 0;
    font-weight: normal;
  }
  .main-nav li.mobile-contact a i {
    margin-right: 3px;
    font-size: 100%;
  }
  .main-nav li.mobile-contact:nth-child(2) {
    border-left: 1px solid rgba(255, 255, 255, 0.08);
  }
  .main-nav > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .main-nav > ul > li {
    width: 100%;
  }
  .main-nav > ul > li > a {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    line-height: 1!important;
    padding: 15px 25px;
    font-size: 1rem;
  }
  .main-nav > ul > li > a i.fa-chevron-down {
    display: none;
  }
  .main-nav > ul > li:hover {
    background-color: inherit;
  }
  .main-nav > ul > li:hover > a {
    color: white;
  }
  .main-nav > ul > li ul {
    position: static;
    visibility: visible;
    opacity: 1;
    display: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .main-nav > ul > li ul li a {
    background-color: rgba(255, 255, 255, 0.08);
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding: 15px 25px;
    position: relative;
    font-size: 1rem;
    line-height: 1!important;
  }
  .main-nav > ul > li ul li a > i.fa-chevron-right {
    display: none;
  }
  .main-nav > ul > li ul li:hover {
    background: inherit;
  }
  .main-nav > ul > li ul li:hover a {
    color: white;
  }
  .main-nav > ul > li ul li ul {
    background-color: rgba(255, 255, 255, 0.08);
  }
  .main-nav > ul > li ul li ul li:hover {
    background: none;
  }
  .main-nav > ul > li ul li ul li:hover a {
    color: white;
  }
}
@media only screen and (max-width: 992px) {
  .mobile-nav-visible {
    overflow: hidden;
  }
  .mobile-nav-visible .main-nav {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
  }
}
.top--light .main-nav > ul > li a {
  color: #111;
}
.top--light .main-nav > ul > li a i.fa-chevron-down,
.top--light .main-nav > ul > li a .fa-chevron-right {
  color: rgba(0, 0, 0, 0.5);
}
.top--light .main-nav > ul > li:hover {
  background: rgba(0, 0, 0, 0.02);
}
.top--light .main-nav > ul > li ul {
  background: #ffffff;
  -webkit-box-shadow: 0 8px 20px -6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 20px -6px rgba(0, 0, 0, 0.15);
}
.top--light .main-nav > ul > li ul li a {
  color: #111;
}
.top--light .main-nav > ul > li ul li:hover {
  background: rgba(0, 0, 0, 0.02);
}
.top--scroll-light .main-nav > ul > li > a {
  color: white;
}
.top--scroll-light .main-nav > ul > li > a i.fa-chevron-down {
  color: rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 992px) {
  .top--scroll-light .main-nav > ul > li > a {
    color: inherit;
  }
}
.top--scroll-dark .main-nav > ul > li > a {
  color: #111;
}
.top--scroll-dark .main-nav > ul > li > a i.fa-chevron-down {
  color: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 992px) {
  .top--scroll-dark .main-nav > ul > li > a {
    color: inherit;
  }
}
@media only screen and (max-width: 992px) {
  .top--dark .main-nav > ul > li > a {
    color: white;
  }
}
.scroll .top--light .main-nav > ul > li > a {
  color: #111;
}
.scroll .top--light .main-nav > ul > li > a i.fa-chevron-down {
  color: rgba(0, 0, 0, 0.5);
}
.scroll .top--dark .main-nav > ul > li > a {
  color: white;
}
.scroll .top--dark .main-nav > ul > li > a i.fa-chevron-down {
  color: rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 992px) {
  .top--light .main-nav {
    background: white;
  }
  .top--light .main-nav li.mobile-contact:nth-child(2) {
    border-left-color: rgba(0, 0, 0, 0.08);
  }
  .top--light .main-nav .expand {
    background-color: rgba(0, 0, 0, 0.04);
  }
  .top--light .main-nav > ul > li > a {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
  .top--light .main-nav > ul > li.lang ul {
    border-bottom-color: rgba(0, 0, 0, 0.08);
  }
  .top--light .main-nav > ul > li.lang ul li {
    border-left-color: rgba(0, 0, 0, 0.08);
  }
  .top--light .main-nav > ul > li:hover {
    background: inherit;
  }
  .top--light .main-nav > ul > li:hover > a {
    color: #111;
  }
  .top--light .main-nav > ul > li ul {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .top--light .main-nav > ul > li ul li a {
    background-color: rgba(0, 0, 0, 0.04);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
  .top--light .main-nav > ul > li ul li ul {
    background-color: rgba(0, 0, 0, 0.04);
  }
  .top--light .main-nav > ul > li ul li:hover {
    background: inherit;
  }
  .top--light .main-nav > ul > li ul li:hover a {
    color: #111;
  }
}
@media only screen and (min-width: 992px) {
  .main-nav > ul > li ul {
    display: block!important;
  }
}
.browser-explorer.browser-version-9 .main-nav {
  position: absolute;
  top: 0;
  right: 0;
}
.browser-explorer.browser-version-9 .main-nav li.mobile-contact {
  display: none;
}
.browser-explorer.browser-version-9 .main-nav ul li {
  display: inline-block;
}
/*======================================
  #Search
======================================*/
.toggle-search a {
  font-size: 1.0625rem !important;
  text-align: center;
  padding: 0!important;
}
.mobile-actions {
  display: none;
}
@media only screen and (max-width: 992px) {
  .mobile-actions {
    display: block;
  }
}
.mobile-actions ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mobile-actions ul li a {
  font-size: 1.3rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  line-height: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.top--light .mobile-actions ul li a {
  color: #111;
}
.top--scroll-dark .mobile-actions ul li a {
  color: #111;
}
.top--scroll-light .mobile-actions ul li a {
  color: white;
}
.scroll .top--light .mobile-actions ul li a {
  color: #111;
}
.scroll .top--dark .mobile-actions ul li a {
  color: white;
}
/*======================================
  #Toggle mobile nav
======================================*/
.hamburger {
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.mobile-nav-visible .hamburger .hamburger-inner,
.mobile-nav-visible .hamburger .hamburger-inner::before,
.mobile-nav-visible .hamburger .hamburger-inner::after {
  width: 30px;
}
.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #111;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.hamburger-inner {
  display: block;
  top: 50%;
  width: 80%;
  margin-top: 2px;
  -webkit-transition-duration: 0.22s;
  -o-transition-duration: 0.22s;
  transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -8px;
  -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  -o-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger-inner::after {
  bottom: -8px;
  -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.mobile-nav-visible .hamburger-inner {
  -webkit-transform: rotate(225deg) scale(0.85);
  -ms-transform: rotate(225deg) scale(0.85);
  transform: rotate(225deg) scale(0.85);
  -webkit-transition-delay: 0.12s;
  -o-transition-delay: 0.12s;
  transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.mobile-nav-visible .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  -o-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.mobile-nav-visible .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.top--light .hamburger-inner,
.top--light .hamburger-inner::before,
.top--light .hamburger-inner::after {
  background-color: #111;
}
.top--scroll-dark .hamburger-inner,
.top--scroll-dark .hamburger-inner::before,
.top--scroll-dark .hamburger-inner::after {
  background-color: #111;
}
.top--scroll-light .hamburger-inner,
.top--scroll-light .hamburger-inner::before,
.top--scroll-light .hamburger-inner::after {
  background-color: white;
}
.scroll .top--light .hamburger-inner,
.scroll .top--light .hamburger-inner::before,
.scroll .top--light .hamburger-inner::after {
  background-color: #111;
}
.scroll .top--dark .hamburger-inner,
.scroll .top--dark .hamburger-inner::before,
.scroll .top--dark .hamburger-inner::after {
  background-color: white;
}
/*======================================
  #Pre top
======================================*/
.pre-top {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 30px;
  font-size: 0.8125rem;
  background-color: white;
  z-index: 600;
  color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.pre-top a {
  color: rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 992px) {
  .pre-top {
    display: none;
  }
}
.pre-top.pre-top--dark {
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.7);
}
.pre-top.pre-top--dark a {
  color: rgba(255, 255, 255, 0.7);
}
.pre-top.pre-top--dark ul ul {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pre-top.pre-top--dark ul ul li:hover {
  background-color: rgba(255, 255, 255, 0.03);
}
.pre-top.pre-top--dark .pre-top__list li ul li a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.pre-top.pre-top--scroll-bg {
  background: transparent!important;
}
.pre-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.pre-top .pre-top__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}
.pre-top .pre-top__list--right {
  margin-left: auto;
}
.pre-top .pre-top__list--left > li {
  margin-right: 1em;
}
.pre-top .pre-top__list--left > li ul {
  left: 0;
}
.pre-top .pre-top__list--right > li {
  margin-left: 1em;
}
.pre-top .pre-top__list--right > li ul {
  right: 0;
}
.pre-top .pre-top__list li {
  position: relative;
  line-height: 30px;
}
.pre-top .pre-top__list li a {
  display: block;
}
.pre-top .pre-top__list li a .fa-caret-down {
  opacity: 0.5;
}
.pre-top .pre-top__list li ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  min-width: 170px;
  top: 100%;
  -webkit-box-shadow: 0 8px 20px -6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 20px -6px rgba(0, 0, 0, 0.15);
  padding: 5px 0;
  visibility: hidden;
  opacity: 0;
  margin-top: 1px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.pre-top .pre-top__list li ul li a {
  line-height: 1;
  padding: 10px 15px;
  color: rgba(0, 0, 0, 0.7) !important;
}
.pre-top .pre-top__list li ul li a:hover {
  background: rgba(0, 0, 0, 0.02);
  color: inherit;
}
.pre-top .pre-top__list > li:hover > a,
.pre-top .pre-top__list .touch-open > a {
  opacity: 0.7;
  color: inherit;
}
.pre-top .pre-top__list > li:hover > ul,
.pre-top .pre-top__list .touch-open > ul {
  visibility: visible;
  opacity: 1;
}
.pre-top.pre-top--scroll-dark {
  color: rgba(0, 0, 0, 0.7) !important;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.pre-top.pre-top--scroll-dark a {
  color: rgba(0, 0, 0, 0.7) !important;
}
.pre-top.pre-top--scroll-light {
  color: rgba(255, 255, 255, 0.7) !important;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.08);
}
.pre-top.pre-top--scroll-light a {
  color: rgba(255, 255, 255, 0.7) !important;
}
