@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ColumnUmbracoForm>
@using ContentModels = Umbraco.Web.PublishedModels;

<div class="grid-item grid-item--form">
    @if (Model.Form != null)
    {
        @Umbraco.RenderMacro("renderUmbracoForm", new { FormGuid = Model.Form, FormTheme = "igloo" })
    }
</div>